:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
/* Start Components */
.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-shape{
    padding: 4px 10px;
    border-radius: 6px;
}
/* End Components */
/* Start Box */
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.f-wrap{
  flex-wrap: wrap;
}
.d-grid {
  display: grid;
}
.gap-20 {
  gap: 20px;
}

.d-block {
  display: block;
}


/* End Box */

/* Start width and heights */
.w-100{
  width: 100px;
}
.h-100{
  height: 100px;
}
.w-full {
  width: 100%;
}
.w-fit{
    width: fit-content;
}
.h-full{
  height: 100%;
}
/* End width and heights */
/* Start Padding + Margin */
.p-10 {
  padding: 10px;
}
.pt-10{
  padding-top: 10px;
}
.pr-10{
  padding-right: 10px;
}
.pb-10{
  padding-bottom: 10px;
}
.pl-10{
  padding-left: 10px;
}
.p-15 {
  padding: 15px;
}
.pt-15{
  padding-top: 15px;
}
.pr-15{
  padding-right: 15px;
}
.pb-15{
  padding-bottom: 15px;
}
.pl-15{
  padding-left: 15px;
}
.p-20 {
  padding: 20px;
}
.pt-20 {
  padding-top: 20px;
}
.pr-20 {
  padding-right: 20px;
}
.pb-20 {
  padding-right: 20px;
}
.pl-20{
  padding-left: 20px;
}

.m-0 {
  margin: 0;
}
.mt-0 {
  margin-top: 0;
}
.mr-0 {
  margin-right: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.ml-0 {
  margin-left: 0;
}
.mt-5 {
  margin-top: 5px;
}
.mr-5 {
  margin-right: 5px;
}
.mb-5 {
  margin-bottom: 5px;
}
.ml-5{
  margin-left: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mr-10{
    margin-right: 10px;
}
.mb-10{
    margin-bottom: 10px;
}
.ml-10{
    margin-left: 10px;
}
.mt-15{
  margin-top: 15px;
}
.mr-15{
  margin-right: 15px;
}
.mb-15{
  margin-bottom: 15px;
}
.ml-15{
  margin-left: 15px;
}
.m-20 {
  margin: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.mr-20 {
  margin-right: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.ml-20 {
  margin-left: 20px;
}
.mt-25{
  margin-top: 25px;
}
.mb-25{
  margin-bottom: 25px;
}
/* End Padding + Margin */
/* Start color */
.bg-white {
  background-color: white;
}
.bg-eee {
  background-color: #eee;
}
.bg-blue {
  background-color: var(--blue-color);
}
.bg-orange{
  background-color: var(--orange-color);
}
.bg-green{
  background-color: var(--green-color);
}
.bg-red{
  background-color: var(--red-color);
}
.c-white {
  color: white;
}
.c-black {
  color: black;
}
.c-grey {
  color: var(--grey-color);
}
.c-orange{
  color: var(--orange-color);
}
.c-blue{
  color: var(--blue-color);
}
.c-red{
  color: var(--red-color);
}
.c-green{
  color: var(--green-color);
}
/* End color */
/* Start Position */
.p-relative {
  position: relative;
}
.p-absolute{
  position: absolute;
}
/* End Position */
/* Start Font */
.txt-c {
  text-align: center;
}
.fs-13{
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15{
    font-size: 15px;
}
.fs-16{
    font-size: 16px;
}
.fs-25{
  font-size: 25px;
}
.fw-bold{
  font-weight: bold;
}
.fw-normal{
  font-weight: normal;
}
/* End Font */
/* Start Border */
.rad-6 {
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}
.rad-half{
  border-radius: 50%;
}
.b-none{
    border: none;
}
.border-ccc {
  border: 1px solid #ccc;
}
.border-eee {
  border: 1px solid #eee;
}
/* End Border */
/* Start Mobile */
@media (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
  .txt-c-mobile {
    text-align: center;
  }
  .block-mobile {
    display: block;
  }
}
/* End Mobile */
/* start overflow */
.o-hidden {
  overflow: hidden;
}
/* End overflow */
